body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 100vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  border-radius: 10px;
  padding: 15px;
}

.welcome {
  height: 100vh;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.page-view {
  min-height: 40vh;
}
.grid-view div.card.ui {
  margin: 1.25rem;
}

header h1 {
  text-align: center;
}

.button {
  height: 100px;
}

.search {
  justify-content: center;
}